ion-content {
    background: black;
    --background: black;

    ion-list {
        background: black;
        --background: black;
        ion-item {
            background: transparent;
            --background: transparent;
            color: white;
            ion-label {
                color: white;
            }
        }
    
        ion-list-header {
            font-size: 20px;
            color: white;
        }
    }


    .line {
        border-bottom: 1px white solid;
        width: 100%;
        margin: 10px auto;
    }

    .button-popover {
        --background: rgb(221, 158, 0);
        width: 115px;
        color: white;
        height: 40px;
        font-weight: bold;
        --border-radius: 2rem;
        text-transform: capitalize;
        font-size: 14px;
        outline: transparent;
        margin-bottom: 2rem;
    }
}
