<ion-content>
  <ion-list>
    <ion-list-header class="title ion-text-center" style="text-align: center;">
      <h2 style="color: white;text-align: center;width: 100%;margin-bottom: 1.5rem;font-weight: bold;">{{'order' | translate}} #{{order.number}}</h2>
    </ion-list-header>

    <ion-item lines="none" style="--min-height: 22px;">
      <ion-text slot="start" style="color: white;">{{'Date' | translate}}:</ion-text>
      <ion-text slot="end" style="color: white;">{{order.createdAt | date: 'dd/MM/yyyy'}}</ion-text>
    </ion-item>

    <ion-item lines="none" style="--min-height: 22px;">
      <ion-text slot="start" style="color: white;">{{'Hour' | translate}}</ion-text>
      <ion-text slot="end" style="color: white;">{{order.createdAt | date: "shortTime"}}</ion-text>
    </ion-item>

    <div class="line"></div>

    <ion-item lines="none" class="ion-text-center">
      <ion-text slot="start" style="color: white;width: 100%;margin-inline-end: 0em;">
        <h3 style="margin-bottom: 1rem;color: white;text-align: center;width: 100%;font-weight: bold;">{{'Products' | translate}}</h3>
      </ion-text>
    </ion-item>

    <ion-item style="margin-bottom: 1rem;" *ngFor="let ord of order.line_items">
      <ion-text slot="start" style="color: white;    width: 50%;font-size: 14px;">{{ord.name}}</ion-text>
      <ion-text slot="end" style="color: white;margin-inline-start: 6px;width: 50%;text-align: center;">{{ord.quantity}}</ion-text>
    </ion-item>

    <div class="line"></div>

    <ion-item lines="none">
      <ion-text slot="start">
        <h2 style="color: white;font-family: -webkit-body">{{'Total' | translate}}</h2>
      </ion-text>
      <ion-text slot="end">
        <h3 style="font-weight: bold;font-family: -webkit-body;">${{order.total}}</h3>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-footer style="text-align: center;">
    <ion-button class="button-popover" (click)="DismissClick()">{{'close' | translate}}</ion-button>
  </ion-footer>

</ion-content>