<app-header [title]="'My_profile'"></app-header>
<app-network></app-network>
<ion-content>
  <ng-container *ngIf="flag">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col class="ion_col_spinner">
          <ion-spinner class="ion_spinner_promos" name="lines"></ion-spinner>
          <br>
          <ion-label class="ion_label_home">
            {{'Loading' | translate}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <div class="content-pedidos" *ngIf="!flag">

    <!-- <ion-avatar> -->
    <img class="image-profile" [lazyLoad]="user.img">
    <!-- </ion-avatar> -->

    <ion-item lines="none" *ngIf="user" class="user">
      <ion-text class="user-title">{{user.first_name}} {{user.last_name}}</ion-text>
    </ion-item>

    <ion-grid style="width: 90%;" class="ion-text-left">

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile ion-title_profile">
        <ion-col class="ion-no-padding ion-no-margin ion-text-center">
          <ion-label class="label">{{'Personal_information' | translate}} </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'Name' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.first_name}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'Last_name' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.last_name}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">Email: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.email}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'Phone' | translate}}:</ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.phone}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'StreetAddress' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.address}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'Country' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.country}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'Departament' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.state}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'municipality' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.city}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin ion_col_profile" style="margin-bottom: 1.5rem;">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="label">{{'postcode' | translate}}: </ion-label>
          <ion-item class="ion-text-left fw-400 ion_item_profile custon-input">
            <ion-label class="label">{{user.postcode}} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>

</ion-content>